

//COLOR PRIMARIO
$color_primary: hsl(322, 100%, 66%);
$color_primary_h: hsl(322, 100%, 81%);


//COLORES NEUTRALES
$color_celeste: hsl(193, 100%, 96%);
$color_azulMarino: hsl(192, 100%, 9%);
$color_grey:  hsl(208, 11%, 55%);

$color_grilla:hsl(0, 58%, 59%);
$color_white:white;


/*FONTS
- Font size: 18px
*/
$font_poppins:'Poppins', sans-serif;   //weight 600
$font_openSans:'Open Sans', sans-serif;  //weight 400   700

